<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Terima kasih atas ketertarikan anda terhadap acara kami yang akan datang. Saat ini, detail acara masih dalam proses finalisasi. Kami sedang bekerja keras untuk menyusun informasi yang lengkap dan informatif bagi Anda. Silakan kembali beberapa saat lagi anda akan secara otomatis dialihkan ke halaman pembaruan terbaru untuk mendapatkan informasi lebih lanjut.</h1>
  </body>
</html>
